body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #d9f0df, #f3e8ff);
}

/* PASSWORD SCREEN */
#password-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-box {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.password-box input {
  padding: 10px;
  width: 220px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.password-box button {
  margin-top: 15px;
  padding: 10px 25px;
  background: #5a2d82;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.password-box button:hover {
  background: #7a4da0;
}

/* GALLERY */
.gallery {
  width: 100%;
}

/* EACH IMAGE SECTION */
.memory {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;   /* MORE SPACE */
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}

/* IMAGE STYLE */
.memory img {
  width: auto;
  height: auto;
  max-width: 65%;
  max-height: 65vh;
  object-fit: contain;
  background: white;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 20px 45px rgba(0,0,0,0.25);
}
/* FADE IN */
.memory.show {
  opacity: 1;
  transform: translateY(0);
}

/* MOBILE OPTIMIZATION */
@media (max-width: 768px) {
  .memory img {
    max-width: 95%;
    padding: 12px;
  }
}
