#password-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #d9f0df, #f3e8ff);
}

.password-box {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.password-box input {
    padding: 10px;
    width: 200px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.password-box button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #5a2d82;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.password-box button:hover {
    background: #7a4da0;
}
